<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.overkill.ogame"
      android:versionCode="25" android:versionName="0.7.2">
     
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="8" />
    	
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>      
	<!-- <uses-permission android:name="com.android.vending.BILLING"></uses-permission> -->
	

      
    <application android:icon="@drawable/icon" android:label="@string/app_name">    
        <activity android:name=".LoginView"
                  android:label="@string/app_name" 
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="MainTabActivity"
        		  android:label="@string/app_name" 
        		  android:theme="@style/InfoTitleTheme" 
        		  android:screenOrientation="portrait" 
        		  android:alwaysRetainTaskState="true" />

	    <activity android:name="ObjectListActivity" 
	    		  android:screenOrientation="portrait" />
	    
	    <activity android:name="Overview"
	    		  android:screenOrientation="portrait" />
	    		  
	   	<activity android:name="BuddyView"
	    		  android:screenOrientation="portrait" />
	    
		<activity android:name="SettingsViewWithInAppBilling"
				  android:label="@string/app_name"
				  android:screenOrientation="portrait"
				  android:theme="@android:style/Theme.Black" />
				  
		<activity android:name="SettingsView"
				  android:label="@string/app_name"
				  android:screenOrientation="portrait"
				  android:theme="@android:style/Theme.Black" />
				  
		<activity android:name="FleetView"
				  android:label="@string/app_name"
				  android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />	
				<data android:scheme="ogame" android:host="fleet" />
			</intent-filter>
		</activity>
				  
		<activity android:name="MovementView"
				  android:label="@string/app_name"
				  android:screenOrientation="portrait" />
				  
		<activity android:name="GalaxyView"
				  android:label="@string/app_name"
        		  android:theme="@style/InfoTitleTheme" 
				  android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />	
				<data android:scheme="ogame" android:host="galaxy" />
			</intent-filter>
		</activity>
				  
		<activity android:name="MessageListView"
				  android:label="@string/app_name"
				  android:screenOrientation="portrait" />
				  
		<activity android:name="MessageDetailView"
				  android:label="@string/app_name"
				  android:screenOrientation="portrait" />
				  
		<activity android:name="MessageComposeView"
				  android:label="@string/app_name"
				  android:screenOrientation="portrait" />
				  
		<activity android:name="ResourceSettingsView"
				  android:label="@string/app_name"
				  android:screenOrientation="portrait" />
     	
		<activity android:name=".PlanetListActivity"
				  android:label="@string/select_planet"
				  android:theme="@android:style/Theme.Dialog"
				  android:configChanges="orientation|keyboardHidden" />
		
		<activity android:name="AllianceView"
				  android:label="@string/app_name"
				  android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />	
				<data android:scheme="ogame" android:host="alliance" />
			</intent-filter>
		</activity>
		
		<activity android:name="CombatReportView"
				  android:label="@string/app_name"
				  android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />	
				<data android:scheme="ogame" android:host="combat" />
			</intent-filter>
		</activity>
		
		<activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>		
		
		<!-- <service android:name="com.android.vending.billing.BillingService" />

	    <receiver android:name="com.android.vending.billing.BillingReceiver">
	      <intent-filter>
	        <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
	        <action android:name="com.android.vending.billing.RESPONSE_CODE" />
	        <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
	      </intent-filter>
	    </receiver>
		 -->
	</application>

</manifest> 